.main {
  width: 100%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 72px;
  gap: 24px;
  padding: 0 20px;
}

.main h1 {
  color: var(--text-main-primary);
  text-align: center;
  font-size: 24px;
}

@media only screen and (min-width: 992px) {
  .main h1 {
    font-size: 32px;
  }
}
