.allowedValues {
  display: flex;
  margin: 32px 0 0;
}

.allowedValues p {
  padding: 4px;
  color: var(--text-main-secondary);
}

.allowedValuesContainer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 4px;
}

.allowedValuesText {
  padding: 4px;
  background-color: var(--background-allowed-values);
  border: 1px solid var(--border-allowed-values);
  color: var(--text-main-secondary);
  border-radius: 4px;
}
