.mainHeading {
  margin-bottom: 16px;
  font-size: 24px;
  color: var(--text-main-primary);
}

@media only screen and (min-width: 992px) {
  .mainHeading {
    font-size: 32px;
  }
}

.mainDescription {
  padding: 16px 0;
  color: var(--text-main-secondary);
}

.description {
  padding: 16px 0 0;
  color: var(--text-main-secondary);
}

.content {
  padding: 16px 0;
}

.heading {
  font-size: 20px;
  color: var(--text-main-primary);
}
