.urlBanner {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 12px 8px 8px;
}

.urlBannerContainer {
  composes: scrollbar scrollbar-track scrollbar-thumb scrollbar-corner from 'assets/common.module.css';
  margin: 16px 0;
  overflow-x: auto;
  border: 4px solid var(--background-banner);
  background-color: var(--background-banner);
  border-radius: 8px;
}

.method {
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px;
  background-color: var(--background-banner-method);
  color: var(--text-banner-secondary);
  border-radius: 4px;
  font-size: 14px;
}

.url {
  margin-left: 12px;
  white-space: nowrap;
}

.urlPath {
  color: var(--text-banner-primary);
}

.urlEndpoint {
  color: var(--text-banner-primary);
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .urlBannerContainer {
    margin: 32px 0;
  }
}
