[data-theme='light'] {
  --background: var(--clr-base-100);
  --background-sidebar: var(--clr-base-200);
  --background-tab: var(--clr-base-600);
  --background-hover-primary: var(--clr-base-300);
  --background-hover-secondary: var(--clr-base-300);
  --background-search: var(--clr-base-400);
  --background-banner: var(--clr-base-200);
  --background-banner-method: var(--clr-green-100);
  --background-response-block: var(--clr-base-200);
  --background-hr: var(--clr-base-300);
  --background-allowed-values: var(--clr-base-200);
  --background-table: var(--clr-base-200);
  --background-scrollbar: var(--clr-extended-400);
  --background-button: var(--clr-base-600);

  --text-sidebar-primary: var(--clr-base-600);
  --text-sidebar-secondary: var(--clr-base-600);
  --text-tab-primary: var(--clr-base-100);
  --text-tab-secondary: var(--clr-base-600);
  --text-search-primary: var(--clr-base-500);
  --text-search-secondary: var(--clr-base-600);
  --text-main-primary: var(--clr-base-600);
  --text-main-secondary: var(--clr-base-600);
  --text-banner-primary: var(--clr-base-600);
  --text-banner-secondary: var(--clr-base-100);
  --text-response-primary: var(--clr-base-600);
  --text-response-secondary: var(--clr-base-600);
  --text-button-primary: var(--clr-base-100);

  --border-allowed-values: var(--clr-base-300);
  --border-primary: var(--clr-base-600);
  --border-secondary: var(--clr-base-300);

  --stroke-primary: var(--clr-base-600);
}
