.button {
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--background-button);
  color: var(--text-button-primary);
  font-size: 14px;
}

.button:hover {
  background-color: var(--background-hover-secondary);
  color: var(--text-main-primary);
}
